<ul class="media-list">
  <% favd_favorites.each do |favd_favorite| %>
  
  
  
    <%# indexのrender 'favorites/favorites', favd_favorites: @favd_favoreites,　%>
    <% user = favd_favorite.user %>
    <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="<%= gravatar_url(user, options = { size: 50 }) %>" alt="">
      </div>
      <div class="media-body">
        <div>
          <%= link_to user.name, user_path(user) %> <span class="text-muted">posted at <%= favd_favorite.created_at %></span>
        </div>
        <div>
          <p><%= favd_favorite.content %></p>
        </div>
        <div class="btn-toolbar" >
          <div class="btn-group">
          <% if current_user == favd_favorite.user %>
            <%= link_to "Delete", favd_favorite, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
          <% end %>
          </div>
          
          
        
        
          <div class="btn-group">
        <%# ファボボタン%>
        <%# @micropost を micropostとしてボタン表示に渡せていない！%>
        <% hoge = 'hoge' %>
        <%# favd_user: favd_user,  %>
          <%= render 'favorites/fav_button', { micropost: favd_favorite, favd_id: favd_id} %> 
          <%# 前段としてmicropost.idを表示%>
          <%# micropost.id = <%= micropost.id %>
          <%# この表現でidはusers/idでもindexでも問題なく表示される %>
          
          </div>
        </div>
        
        
      </div>
    </li>
  <% end %>
  
  <%= paginate favd_favorites %>
</ul>